* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  height: 100%;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  background-color: #1a73e8;
  color: #fff;
  padding: 20px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  border-radius: 5px;
  /* border: 1px solid black; */
}

.sidebar nav ul li a:hover {
  background-color: #0056b3;
}

.header {
  grid-area: header;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.header .search-bar input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  width: 300px;
}

.header .user-info {
  display: flex;
  align-items: center;
}

.header .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.main-content {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #e9ecef;
}

.project-section {
  padding: 20px;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.project-cards .card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.project-cards .card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.project-cards .card p {
  color: #666;
  font-size: 14px;
}

.sidebar-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.announcements,
.trending {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
