* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  height: 100%;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar user-actions"
    "sidebar main";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  background-color: #1a73e8;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.sidebar h2 .icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: white;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar nav ul li a .icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: white;
}

.sidebar nav ul li a:hover {
  background-color: #0056b3;
}

.header {
  grid-area: header;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.header .search-bar {
  display: flex;
  align-items: center;
}

.header .search-bar .icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  fill: #666;
}

.header .search-bar input {
  padding: 12px;
  border-radius: 20px;
  background-color: #c5c4c4;
  border: 1px solid #ddd;
  width: 800px;
}

.header .user-info {
  display: flex;
  align-items: center;
}

.header .user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.user-actions {
  grid-area: user-actions;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.user-actions .profile-overview {
  display: flex;
  align-items: center;
}

.user-actions .profile-overview img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-actions .profile-overview h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #333;
}

.user-actions .profile-overview p {
  margin: 0;
  font-size: 14px;
  color: #777;
}

.user-actions .action-buttons {
  display: flex;
  gap: 10px;
}

.user-actions .action-buttons button {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.user-actions .action-buttons .btn-new {
  background-color: #0d6efd;
  color: white;
}

.user-actions .action-buttons .btn-upload {
  background-color: #28a745;
  color: white;
}

.user-actions .action-buttons .btn-share {
  background-color: #ffc107;
  color: white;
}

.user-actions .action-buttons button:hover {
  opacity: 0.8;
}

.main-content {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #e9ecef;
}

.projects-section {
  padding: 20px;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 20px;
}

.project-cards .card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #ffc107;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-cards .card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.project-cards .card p {
  color: #666;
  font-size: 14px;
  flex-grow: 1;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.card-icons svg {
  width: 32px;
  height: 32px;
  fill: #666;
  cursor: pointer;
  transition: fill 0.3s;
}

.card-icons svg:hover {
  fill: #1a73e8;
}

.sidebar-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-right h3 {
  font-size: 22px;
  padding: 5px 10px;
}

.announcements,
.trending {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.announcement {
  padding: 20px;
  border-bottom: 3px solid #908c8c;
}

.announcement h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.announcement p {
  color: #908c8c;
}
